/*Global styles*/

*{
    box-sizing: border-box;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "mainCol1 mainCol2";
}

body{
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    color: darkblue;
    padding: 0;
    margin: 0;
}

nav ol, .content{
    width: 900px;
    margin: 0 auto;
}

.content{
    margin-bottom: 5em;
}


/* Navigation menu */
nav {
    background-color: #03b2fd;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav ol {
    padding: 0;
}

nav ol li:last-of-type{
    float: right;
}
nav ol li{
    list-style-type: none ;
    display: inline-block;
    margin-left: -6px;
}

nav ol li a{
    display: block;
    height: 40px;
    line-height: 31px;
    padding: 5px 15px;
    text-decoration: none;
    color: white;
}

nav ol li a:hover{
    background-color: #029ddf;
}

nav ol li a[href="#"] {
    border-bottom: 3px solid #0160ee;
}

/*Time badge*/
.dates{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
time.icon
{
    margin: 10px auto;
    font-size: 1em;
    display: inline-block;
    position: relative;
    width: 7em;
    height: 8em;
    background-color: #fff;
    border-radius: 0.6em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    overflow: hidden;
}
time.icon *
{
    display: block;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}
time.icon strong
{
    position: absolute;
    top: 0;
    padding: 0.4em 0;
    color: #fff;
    background-color: #d10000 ;
    border-bottom: 1px dashed #7d0b0b ;
    box-shadow: 0 2px 0 #7b3737;
}
time.icon em
{
    position: absolute;
    bottom: 0.3em;
    color: #d10000;
}
time.icon em.day{
    bottom: 1.2em;
}
time.icon em.time{
    font-size: 0.7em;
    color: darkgray;
}
time.icon span
{
    font-size: 2.8em;
    letter-spacing: -0.05em;
    padding-top: 0.8em;
    color: #2f2f2f;
}

/* blockquotes */
blockquote {
  position: relative;
  padding-left: 1em;
  border-left: 0.2em solid #4d91b3;
  font-family: serif;
  line-height: 1.5em;
  font-weight: 100;
  font-style: italic;
}
blockquote:before, blockquote:after {
  content: '\201C';
  font-family: serif;
  color: #4d91b3;
}
blockquote:after {
  content: '\201D';
}


/* Recipes */
.other-recipes{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Registration form */
textarea{
    resize:none;
}

button{
    background-color: #03b2fd;
    color: white;
    border: none;
    border-radius: 14px 14px 14px 14px;
    box-shadow: 1px 1px 2px grey;
    font-size: 18px;
    height: 25px;
    width: 75px;
    text-align: center;
}
button:hover{
    background-color: #0384fd;
    box-shadow: 2px 2px 3px black;
}

.boxInd{
    padding-left: 80px;
}

/* Index */
.foodEx{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "col1 col2";
    width:100%; 
    justify-items:center;
}

@media(max-width: 450px){
    nav ol, .content{
        width: 90%;
    }
    .foodEx{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "col1 "
            "col2";
    }   
}

.foodCol1{
    grid-area: col1;    
    color: #e99700;
}

.foodCol2{
    grid-area: col2;   
    color: #e99700;
}

.partSched{
    padding-left: 60px;
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: repeat(10, 1fr);
    grid-auto-flow: column;
    width:100%; 
    border-radius: 25px;
    background-color: #e99700;                 
}
